.accordion {
  composes: accordionBase from "./CtaAccordionShared.module.scss";

  > * {
    position: relative;
    z-index: 1;
  }

  h3 {
    background-image: none;
  }
}

.open {
  composes: openBase from "./CtaAccordionShared.module.scss";
  grid-template-rows: 0fr 1fr;
}

.blockPointerEvents {
  pointer-events: none;
}

.accordion:active {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}

.title {
  margin: 0;
}

.toggleBtn {
  composes: toggleBtnBase from "./CtaAccordionShared.module.scss";
}

.accordion.open .toggleBtn::before {
  transform: rotate(90deg);
}

.content {
  line-height: 140%;
  overflow: hidden;
}

.content p {
  margin-bottom: 1rem;
}

.content a {
  color: currentColor;
  font-weight: 800;
  text-decoration: underline;
}

.content :last-child {
  margin-bottom: 0;
}

.wrapper {
  padding-block: 0 1.05rem;
  padding-inline: 1.25rem;
}

@media (max-width: 599px) {
  .accordion {
    &::before {
      top: 25%;
    }
  }
}

// .accordion.open {
//   --d: 90deg;
//   grid-template-rows: 0fr 1fr;
//   transition: grid-template-rows var(--slide-ease) var(--slide-duration) var(--slide-delay);

//   &::before {
//     transform: translateY(-150%);
//     opacity: 0;
//   }

//   &.toggleBtn::before {
//     transform: rotate(90deg);
//   }
// }
