.ourInitiatives {
  padding: 50px 1.5rem 125px;
  //   background-color: #f9f9f9;
  text-align: center;

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: #333;
}

.iconsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  //   margin-bottom: 3rem;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .iconCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-bottom: 1rem;
  }

  p {
    // font-size: 20px;
    color: #143518;
    font-weight: 500;
  }
}

// Individual icon styles
.iconFood {
  .iconCircle {
    background-color: #d5f5e3;
  }

  img {
    width: 142px;
    height: 150px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(21%) saturate(1269%) hue-rotate(77deg) brightness(97%)
      contrast(99%);
  }
}

.iconMeds {
  .iconCircle {
    background-color: #c7f1eb;
  }

  img {
    width: 145px;
    height: 125px;
    margin-top: 12px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(21%) saturate(1269%) hue-rotate(77deg) brightness(97%)
      contrast(99%);
  }
}

.iconKids {
  .iconCircle {
    background-color: #fffbd3;
  }

  img {
    width: 155px;
    height: 125px;
    margin-top: 11px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(21%) saturate(1269%) hue-rotate(77deg) brightness(97%)
      contrast(99%);
  }
}

.iconInfra {
  .iconCircle {
    background-color: #dadfee;
  }

  img {
    width: 118px;
    height: 150px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(21%) saturate(1269%) hue-rotate(77deg) brightness(97%)
      contrast(99%);
  }
}

@media (max-width: 992px) {
  .ourInitiatives {
    padding: 25px 1.5rem 100px;

    h3 {
      margin-bottom: 3rem;
    }
  }
}

// @media (max-width: 575px) {
//   .ourInitiatives {
//     padding: 25px 1.5rem 100px;

//     h3 {
//       margin-bottom: 3rem;
//     }
//   }
// }

@media (max-width: 767px) {
  .ourInitiatives {
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
